* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

#logoSpikeWeb {
  height: 60px;
  width: 60px;
}

.mainNavBar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 60px;
  width: 100%;
}

.mainNavBar li {
  border-left: 1px solid #bbb;
  float: left;
}

.mainNavBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 21px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.mainNavBar li a:hover {
  background-color: #ff0000;
}

.logo--menu {
  list-style-type: none;
  position: fixed;
  top: 0;
}

.active {
  background-color: #616161;
}

body {
  background-color: #bcc7c5;
}

.portfolioBody {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.portfolioBody h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.portofolioElement {
  text-align: center;
}

.portfolioImg {
  height: 25em;
  width: 25em;
}

.portfolioPresentation {
  text-align: justify;
  padding-top: 10px;
}

.scrolling--menu {
  display: none;
}

nav > ul li:hover .scrolling--menu {
  display: block;
  width: 10%;
  position: fixed;
  top: 60px;
  left: 145px;
}

.scrolling--menu li {
  float: none;
}

.scrolling--menu a {
  padding: 10px;
  border-left: none;
  border-bottom: none;
}

.scrolling--menu > a::after {
  font-size: 12px;
}

footer {
  font-size: 10px;
}
/* SNAKE*/

canvas {
  display: flex;
  position: absolute;
  top: 200px;
  left: 600px;
}
